command:
  instance:
    create:
      options:
        project-vendor: 'sweetchuck'
        project-name: 'deleteme-d1102product'
        host-uri-pattern: 'https://{{ project-name }}.{{ project-vendor }}.localhost'
