command:
  instance:
    create:
      options:
        project-vendor: 'sweetchuck'
        project-name: 'deleteme'
        host-uri-pattern: 'http://{{ project-name }}.{{ project-vendor }}.localhost'
